html,
body {
    margin: 0;
    padding: 0;

    background: black;
    overflow: hidden;
    font-family: sans-serif;
}

button {
    font-size: 30px;
    border: none;
    background: transparent;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

#three{
    transform: translateY(100%)
}

/* 
button:hover {
    background: rgb(18, 18, 18);
} */